[2022-01-11 02:33] HJK17 opened #600 "Building raspberrypi4 with branch jansa/master fails"
ERROR: Task (/home/hjk/poky/meta-browser/meta-chromium/recipes-browser/chromium/chromium-x11_93.0.4577.82.bb:do_compile) failed with exit code '1'
NOTE: Tasks Summary: Attempted 5357 tasks of which 5352 didn't need to be rerun and 1 failed.

Summary: 1 task failed:
  /home/hjk/poky/meta-browser/meta-chromium/recipes-browser/chromium/chromium-x11_93.0.4577.82.bb:do_compile
Summary: There were 2 WAR

[2022-01-11 07:43] jclsn opened #601 "Stack smashing detected on imx8mm when starting Chromium"
With the current commit d25d8ee98a656b2534d0eec6138ef264529fab4f, I am getting stack smashing errors. Previously I was using
a5a5f277740a8434377f9844c62574efb17a4fa0 and everything worked fine. Seems like some egl error, but the only commit hash that has changed is the meta-browser one.
[code]

[2022-01-11 10:08] rakuco commented on #600
Are you using `jansa/master` instead of `master` for a specific reason? Chromium 93 is pretty old at this point, and a lot of changes have gone into this repository since then.

[2022-01-11 10:32] msisov commented on #601
probably, one of the bugs related to SwAngle I fixed not that much time ago. Just for the sake of tests, can you compile without that feature -

angle_enable_vulkan = false
angle_enable_swiftshader = false

[2022-01-11 11:29] coldspark29 commented on #601
Will try tonight. Where do I add those arguments?

[2022-01-11 11:32] rakuco commented on #601
They're GN arguments, so you can e.g. add them to `GN_ARGS` in `chromium-gn.inc` or append to the variable in your `local.conf`.

[2022-01-11 11:35] HJK17 commented on #600
I can't load the web page using the first tab of chromium96, and the local one can't load either. But the second tab can load the webpage normally. I will try to use chromium93 whether such a problem will occur.

[2022-01-11 19:48] coldspark29 commented on #601
The build failed with an overwhelmingly massive error message

https://pastebin.com/1dHvPEhV

[2022-01-12 04:51] HJK17 commented on #600
I have solved the problem that the webpage cannot be opened, just add `--disable-gpu` to start chromium

[2022-01-12 04:52] #600 closed

[2022-01-12 06:37] msisov commented on #601
Please add

`angle_enable_null = true`

[2022-01-12 08:45] coldspark29 commented on #601
Still getting that huge error

https://pastebin.com/uMi1MqRJ

[2022-01-19 01:00] munoz0raul commented on #583
Hi @JeroenHid, Did you have any progress on that?

I'm trying chromium-ozone-wayland-96.0.4664.110-r0 on the iMX8M-mini evk.

By just adding the layer and enabling it, it worked but still did not use the GPU.

Could someone please confirm if removing the `libEGL.so` and `libGLESv2.so` from `${D}${libdir}/chromium/ `is the way to go for iMX8?

https://github.com/OSSystems/meta-browser/blob/master/m

[2022-01-19 06:16] msisov commented on #583
Did you start the browser with --in-process-gpu flag? IIRC, iMX doesn't support drm render nodes, and, thus cannot use surfaceless path. Instead, it has to use Wayland EGL, which is only available with the flag I mentioned.

[2022-01-19 06:29] munoz0raul commented on #583
Hi @msisov, thanks for your quick reply.

I tried with --in-process-gpu as well, see the log below:

[code]
This log is my Yocto build + meta-chromium enabling `proprietary-codecs`

[code]

Didn't understand this comment, is it related to `proprietary-codecs` or `use-vapi`? Should I enable or disable it for iMX8M?

[2022-01-19 06:50] msisov commented on #583
looks like there is drm render nodes as it still tries to use dmabuf (see gbm_pixmap_wayland logs), but fails for some reason.

you can explicitly disable that by adding "use_wayland_gbm = false" in your gn args.

[2022-01-19 18:41] JeroenHid commented on #583
Hi @msisov !
No, no real progress on this. I was stuck at running Chromium without GPU support.
Also, your question "Could someone please confirm if removing the `libEGL.so` and `libGLESv2.so` from `${D}${libdir}/chromium/ `is the way to go for iMX8?" is a good one, I don't have a proper answer on it.

My strategy since a few weeks, was to wait a while for new updates, and try them as I was stuck

[2022-01-19 18:49] JeroenHid commented on #601
See https://github.com/OSSystems/meta-browser/issues/583#issuecomment-978963620

I've tried clang 13, and concluded "Stack smashing errors have indeed disappeared when using clang 13".
It was a while ago, but maybe it's something to try ?

[2022-01-20 10:46] ensc commented on #583
fwiw: here, with iMX8MM + iMX8MP chromium runs fine after removing `libEGL.so` + `libGLESv2.so`.   BSP has recent hardknott branches on freescale layers and nxp kernel 5.10.72.    The https://webglsamples.org/aquarium/aquarium.html shows 9-10fp on iMX8MM and 13-14fps on iMX8MP (both 1080p).

There was/is a problem that chromium fails to start with only 2GiB of RAM (4GiB are ok).

My flags are

[co

[2022-01-20 10:52] JeroenHid commented on #583
@ensc Thanks for sharing!

Can you confirm hardware acceleration is enabled (visit the about page in the browser to see details)?

[2022-01-20 12:53] ensc commented on #583
### Graphics Feature Status
- Canvas: Hardware accelerated
- Canvas out-of-process rasterization: Disabled
- Compositing: Hardware accelerated
- Multiple Raster Threads: Disabled
- Out-of-process Rasterization: Disabled
- OpenGL: Enabled
- Rasterization: Software only. Hardware acceleration disabled
- Raw Draw: Disabled
- Skia Renderer: Enabled
- Video Decode: Hardware accelerated
- Vulkan: Disabl

[2022-01-20 13:27] JeroenHid commented on #583
@ensc Coll, thanks!
I'll give it a try myself

[2022-01-21 20:04] bestgaurav007 commented on #513
Hi, I am also facing the same issue.
Do you get any solution to start chromium on raspberry pi 4 ?

[2022-01-21 22:03] rakuco commented on #583
That's from chrome://gpu

[2022-01-21 22:03] rakuco commented on #583
That's from chrome://gpu

[2022-01-25 13:11] rakuco commented on #526
Fixed by #531.

[2022-01-25 13:11] #526 closed

[2022-01-31 08:47] coldspark29 commented on #601
I will try soon. Am dealing with other problems atm

[2022-02-04 09:48] #563 closed

[2022-02-16 08:39] jclsn opened #604 "Can't run chromium on i.MX8 and Wayland"
I am trying to run Chromium on an i.MX8 board with the Vivante driver and am getting the following error

[code]

Looks to me kike it doesn't detect the right display. I've had a similar issue on a Raspberry Pi which I could fix with ``DISPLAY=:0``, but that doesn't help in this case. I have no idea how to start debugging Chromium or Wayland graphics. So any help is much appreciated!

[2022-02-22 02:53] barndoor2276 commented on #545
I fixed this by using clang 12 in the `dunfell-clang12` branch of meta-clang. See comments related here https://github.com/OSSystems/meta-browser/pull/602#issuecomment-1039211619. Of course I'm having new EGL issues now that I've successfully compiled chromium 97 but this issue can be closed.

[2022-02-22 02:53] #545 closed

[2022-02-22 17:42] barndoor2276 opened #607 "Chromium 97 - eglCreateContext failed with error EGL_BAD_MATCH"
We just upgraded our meta-browser layer from v90 to v97 and started using clang 12 in order to successfully compile. Chrome launches but displays nothing and GPU doesn't start properly. Error below is repeated thousands of times until chrome is forcibly closed.

Using poky/OE @ dunfell branch.
Using meta-clang @ dunfell-clang12 branch.
Arch: Arm
Machine: imx6q-dms-ba16

[2300:2300:0222/170633.7159

[2022-02-28 10:17] MonsieurHBA opened #609 "Layer clang-layer"
ERROR: Unable to start bitbake server (None)
ERROR: Server log for this session (/home/bx1/yocto/poky/rpi-build/bitbake-cookerdaemon.log):
--- Starting bitbake server pid 7485 at 2022-02-28 11:09:24.271474 ---
ERROR: Layer clang-layer is not compatible with the core layer which only supports these series: dunfell (layer is compatible with kirkstone)

[2022-02-28 10:20] rakuco commented on #609
Looks like you need to switch your meta-clang checkout to the clang12 branch (`cd meta-clang && git checkout -b clang12 origin/clang12`, for example).

[2022-02-28 11:07] MonsieurHBA commented on #609
ERROR: Layer clang-layer is not compatible with the core layer which only supports these series: dunfell (layer is compatible with kirkstone)

i try to add dunfell in meta-clang/conf/layer.conf   : LAYERSERIES_COMPAT_clang-layer = "dunfell kirkstone" and i got an other error

[2022-02-28 11:12] rakuco commented on #609
See my comment above for how you should try to fix this.

[2022-02-28 11:15] MonsieurHBA commented on #609
yes i did but i got the same ERROR :  ERROR: Layer clang-layer is not compatible with the core layer which only supports these series: dunfell (layer is compatible with kirkstone)

[2022-02-28 11:19] rakuco commented on #609
To confirm: is your `meta-clang` repository at commit `e24b1235e82083d2088df5f8f93b1277daf17ff2`?

[2022-02-28 11:22] MonsieurHBA commented on #609
how can i find the commit of my meta-clang

[2022-02-28 11:23] rakuco commented on #609
`cd /path/to/meta-clang && git log -1`, for example.

[2022-02-28 11:24] MonsieurHBA commented on #609
commit 6d4ebdff6099f80716acc99efc3e49b8e9ea9a39

[2022-02-28 12:13] rakuco commented on #609
That commit is part of master, not the clang12 branch, which indicates you haven't switched branches as indicated above.

[2022-02-28 13:13] MonsieurHBA commented on #609
how can i solve the problem , please HELP!

[2022-02-28 14:18] rakuco commented on #609
Sorry but I've already said how it's supposed to be solved above. I feel it's important that you familiarize yourself with git more and understand how branches work and how to switch between them. See https://git-scm.com/book/en/v2 and https://docs.github.com/en for example.

[2022-02-28 14:18] #609 closed

[2022-03-01 03:35] jwzl opened #610 "chromium will be blocked when open multi-tab after some time"
I have update chromium to M97,
and I have removed  libEGL.so and libGLESv2.so in /usr/lib/chromium/.
when I open multi-tab after some time, chromium will be blocked, and the message as below:

[1182:1207:0301/032855.493733:ERROR:shared_image_manager.cc(226)] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[1182:1207:0301/032855.812318:ERROR:sha

[2022-03-01 03:41] jwzl commented on #607
when I disabled the gpu, it has same issue!

[2022-03-02 08:08] jwzl commented on #610
@msisov  Thanks!

[2022-03-02 08:47] MonsieurHBA commented on #424
Is does configuration work for working chromium in Full screen when booting any image ?

[2022-03-02 08:52] MonsieurHBA opened #612 "Error in progress of building core-image-weston with meta-chromium and meta-clang (dunfell branch )"
Hello guys :+1:
So is that will affect my image or chromium will not work after build ?

![Screenshot from 2022-03-02 06-24-26](https://user-images.githubusercontent.com/91086501/156327804-f044635c-e3f2-411a-b03d-a3a961027c28.png)

[2022-03-02 10:20] MonsieurHBA commented on #612
![Error](https://user-images.githubusercontent.com/91086501/156342952-d606668b-3a84-4812-9ee8-e88fe49c0eb2.png)
this my config file

[2022-03-02 11:49] rakuco commented on #612
Sorry, but we don't maintain that recipe and can't help you further with that. Please check who the maintainer of that recipe is and what the instructions for filing bugs is. Just one side note: meta-clang needs to track the `clang12` branch, not the `dunfell` branch. Good luck!

[2022-03-02 11:49] #612 closed

[2022-03-02 16:45] kraj commented on #612
yeah I think we need to fix other `dunfell` layers to build with clang12.
@MonsieurHBA can you add
[code]

to `meta-clang/conf/nonclangable.conf`

[2022-03-03 08:53] MonsieurHBA opened #613 "can't find chromium in core-image-weston in raspberry-pi 3 Embedded-platform"
Hello guys ,
i build a core-image-weston simple with meta-chromium (master branch ) and meta-clang (clang12 branch) ,i would like juste to run a browser in my image so i choose chromium ,
after long time of building the image , when i boot the image in my raspberry pi 3 i find just a terminal ,
can someone help me to find chromium , or is that any configuration that i have to put in my local.conf

[2022-03-03 11:33] jwzl commented on #610
@msisov hello

[2022-03-03 13:36] msisov commented on #610
We have improved error logging recently and some patches are required to be applied. Otherwise, I can't seem to see where the problem is in the log.

Will you be able to apply https://chromium-review.googlesource.com/c/chromium/src/+/3386963, https://chromium-review.googlesource.com/c/chromium/src/+/3419856 and https://chromium-review.googlesource.com/c/chromium/src/+/3447304.

If you can't, I wil

[2022-03-03 19:04] kraj commented on #613
yes you need to add something like below to `conf/local.conf`

[code]

[2022-03-04 02:11] jwzl commented on #610
okay, I will try it, thanks!

Regards,

[2022-03-05 12:18] MonsieurHBA opened #614 "Error chromium-ozone-wayland"
ERROR: chromium-ozone-wayland-97.0.4692.71-r0 do_compile: Execution of '/home/bx1/yocto/poky/rpi-build/tmp/work/cortexa7t2hf-neon-vfpv4-poky-linux-gnueabi/chromium-ozone-wayland/97.0.4692.71-r0/temp/run.do_compile.17090' failed with exit code 1
ERROR: Logfile of failure stored in: /home/bx1/yocto/poky/rpi-build/tmp/work/cortexa7t2hf-neon-vfpv4-poky-linux-gnueabi/chromium-ozone-wayland/97.0.4692.71

[2022-03-09 07:50] jwzl commented on #610
I has meet  some build error? Do you has update these patch into M98 ? @msisov

[2022-03-09 08:10] msisov commented on #610
nope, it'll part of m99

[2022-03-10 08:53] #604 closed

[2022-03-10 23:14] x19chen opened #617 "ParseError on chromium-gn.inc"
Error:
[code]

local.conf:
[code]

bblayers.conf:
[code]

Targeting Yocoto dunfell with meta-browser on master branch and meta-clang on dunfell branch.
Did I do something wrong? Such error reminds me a similar error from a different layer, which was caused by mixing syntax. Could it be the problem?

[2022-03-11 10:28] jwzl commented on #610
@msisov
Dear msisov：
let's changed the description:
that is when I play the video on yutube, it will crash after some times!

and log as below:
[putty2.log](https://github.com/OSSystems/meta-browser/files/8231123/putty2.log)

[2022-03-11 12:42] msisov commented on #610
tbh, I don't have any ideas why creation of egl context fails for you. support on embedded devices has always been complicated and chromium is not officially tested on these devices (except android).

[2022-03-11 14:01] DeHuilendeHacker opened #618 "Chromium 98, WIP?"
Hi there,

Thanks to all the current and previous maintainers of this repository for the hard work and concurrent updates.

I'm using meta-chromium right now on a CM4 with the Dunfell LTS release with custom distro and machine configuration.
Integrating Chromium went quite well, only one issue left to solve..

But the reason I'm writing this issue is that I was wondering what kind of release strat

[2022-03-11 14:08] rakuco commented on #618
Hi there.

We try to create branches only when necessary (i.e. when something stops working with master etc), so by default everything is tested in master and it _should_ be stable. We always build version updates to master with multiple branches, and some of those builds are also run.

That was a hiccup on our side :( The pull request was originally a WIP one, which later became ready to be merge

[2022-03-11 17:12] kraj commented on #618
good progress

testing chromium is a big ordeal since it requires a beefy build machine and hours of build time. All of us do not have access to such machines so we pool testing for limited platforms. These are usually listed in the pull to do major release bumps. For same reason, we only test latest release and maintained LTS, which as of now means `dunfell` and future `kirkstone` and latest rele

[2022-03-11 17:14] kraj commented on #617
You need to use latest bitbake 1.46+, if you are using dunfell then make sure you are on latest point release of dunfell.

[2022-03-11 17:37] DeHuilendeHacker commented on #618
Thanks for the quick updates!
Everything is clear to me now, also no more issues and nothing to be solved on my chromium build right now :)

Quite a heavy task for my notebook, so I see there is not enough power (or time) to compile and evaluate :)

Thanks again!
Will keep using the most recent master every now and then, to see if something comes up at my end!

[2022-03-11 17:37] #618 closed

[2022-03-14 11:00] MonsieurHBA opened #620 "chrome_chrashpad_handler: --database is required"
![errrr](https://user-images.githubusercontent.com/91086501/158159176-d64df1e1-73ca-4db8-b15d-cec07b86e700.jpeg)

[2022-03-14 11:01] MonsieurHBA commented on #620
how can I fix that to run chromium please

[2022-03-16 09:56] x19chen commented on #528
How is it going with this issue?

I am facing a similar error
[code]
without trying anything else at the moment.

[2022-03-21 16:25] MastaG opened #622 "chromium-ozone-wayland 98.0.4758.102 not working correctly"
I've built chromium-ozone-wayland 98.0.4758.102 from 3c81df00f2afbcd646be6aa5346fa16a14d86a6f but it doesn't want to render webpages correctly.
It's like it's unable to connect to the internet very strange.
When I open it, the tab seems to hang for like 30 seconds and will then return "Aw Snap! (segfault)"

Here's a a sample log:
[code]

I believe the following errors where not there before:
[code

[2022-03-29 21:20] MastaG commented on #622
I'll close this for now as it seems to be platform related.

[2022-03-29 21:20] #622 closed

[2022-03-29 21:22] MastaG opened #623 "New release?"
I know this isn't really the right place to ask.
But it seems the repository lags behind quite a bit.
Chromium 100 just got released as stable and we're still stuck on v98.
Would it be better to just skip on v99 then?

[2022-03-30 07:21] rakuco commented on #623
Over to @msisov, who usually handles the updates here.

[2022-03-30 07:43] msisov commented on #623
I was busy with other stuff. Will do a release soon.

[2022-03-31 07:52] MastaG commented on #623
Thanks @msisov

[2022-04-02 17:56] MastaG opened #624 "chrome_crashpad_handler: symbol lookup error: /lib/libc++abi.so.1: undefined symbol: __cxa_end_cleanup"
I'm building chromium-ozone-wayland using the honister branches of openembedded-core and meta-openembedded and meta-clang with bitbake 1.52.

But after upgrading my OS to Fedora 36 (armv7) it doesn't seem to run any longer.
The crashpad_handler seems to fail with:
[code]
Now it seems honister builds using LLVM/clang 13, but Fedora 36 seems to ship mixed versions:
[code]
It does provide version 13

[2022-04-02 20:36] kraj commented on #624
are you building chromium using OE/Yocto and then running it with fedora runtime ? If so, I am afraid this is not much tested and even supported combo. You should also use runtime from the oe/yocto builds. We have no control over how fedora would have compiled with llvm runtime.

[2022-04-03 13:08] MastaG commented on #624
Yes that's correct. I only use oe/yocto to build it and then move it to my Fedora installation.
Would it be possible to link libc++ and libc++abi statically instead?
I believe the original Chrome browser does this as well?

[2022-04-03 15:46] kraj commented on #624
that is possible and perhaps what we could do as long as we don't call C++ system libraries we should be fine, although this will mean a bit of duplication of libraries in case folks are already using LLVM runtime with yocto

anyway, I have posted a patch to make this setting as a packageconfig. So you can try it out to enable this knob in settings and report back

https://github.com/OSSystems/met

[2022-04-04 11:25] MastaG commented on #624
I first tried to rebuild everything (oe/yocto) from master (because meta-clang master builds LLVM/clang 14 which matches the runtime on my Fedora 36 host), but I still got the same ```symbol lookup error: /lib/libc++abi.so.1: undefined symbol: __cxa_end_cleanup``` error.
Fedora must have broken something related to their libc++ packages.

Then I tried your PR https://github.com/OSSystems/meta-brow

[2022-04-11 09:17] msisov commented on #623
https://github.com/OSSystems/meta-browser/pull/626

[2022-04-11 09:17] #623 closed

[2022-04-11 18:34] #624 closed

[2022-04-13 13:21] MonsieurHBA opened #627 "run local file at startup of chromium in yocto image"
Hello people,
is there some option that I have to put in chromium configuration to allow running Local file in my case /home/index.html at startup

[2022-04-15 23:29] eodabash commented on #607
I recently ran into a similar problem (eglCreateContext w/shared context failing with EGL_BAD_MATCH) and came across this github issue while searching for solutions. My issue turned out to be that the context I was trying to share with was created with EGL_CONTEXT_OPENGL_NO_ERROR_KHR, but I was not including the same flag with my new context attributes.

[2022-04-23 13:33] StGale opened #631 "/usr/lib64/chromium/chromium-bin: No such file or directory"
Hello,
I have created an image YOCTO for intel core E3900 following https://github.com/intel/iotg-yocto-bsp-public/tree/e3900/master
then using meta-browser I also compiled chromium-x11 on my local.conf.
The HDDIMG on board start but when I try to run chromium the problem is this message

[code]

but the file is present

[code]

can someone help me?
Thanks
Stefano

[2022-04-23 13:36] StGale commented on #631
just to add info I cloned the warrior branch of meta-browser

[2022-04-23 14:06] StGale commented on #631
other info:
Ubuntu 18.04 used to compile the yocto image.

during the chromium compile phase I have created two symbolic link on
    cd ../build/tmp/work/corei7-64-poky-linux/chromium-x11/80.0.3987.132-r0/recipe-sysroot
    mv lib lib32
    ln -s lib64 lib
    cd usr/
    ln -s lib64 lib
just to prevent an error on search file 64bit on lib directory.

to complete the history, I put my local.conf:

[2022-04-25 08:11] rakuco commented on #631
The "no such file or directory" error message sometimes means you're trying to run an executable that's not supported (a 32-bit binary in a 64-bit installation that does not support it, for example).

* Are you doing a regular 64-bit build targeting a 64-bit platform?
* chromium-x11 80.0.3987.132 is _very_ old. Would it be possible to update the recipe to a more recent version? Similarly, the warr

[2022-04-27 15:38] msisov opened #632 "chromium: update to 101.0.4951.41"
https://chromereleases.googleblog.com/2022/04/stable-channel-update-for-desktop_26.html

[2022-04-27 15:38] msisov commented on #632
In progress

[2022-04-28 10:56] StGale commented on #631
hi found a solution disabling the multi libraries

# Multi-libraries support is now "ON"
# Please uncomment the 4 lines below to enable multilib support.
require conf/multilib.conf
DEFAULTTUNE = "corei7-64"
MULTILIBS = "multilib:lib32"
DEFAULTTUNE_virtclass-multilib-lib32 = "corei7-32"

comment out the 4 lines on default local.conf.sample after checkout MR5-B-04

https://github.com/intel/iotg-yoct

[2022-04-28 11:07] rakuco commented on #631
OK, thanks. I'm closing this issue since it doesn't seem to be a meta-chromium bug.

[2022-04-28 11:07] #631 closed

[2022-05-04 14:05] #632 closed

[2022-05-09 06:28] msisov opened #634 "chromium: update to 101.0.4951.54"
https://chromereleases.googleblog.com/2022/05/stable-channel-update-for-desktop.html

[2022-05-10 10:37] #634 closed

[2022-05-11 04:21] jimini-lumox commented on #583
Hi @ensc, is the Video Decode acceleration enabled for the iMX8MM or just the iMX8MP ?

[2022-05-16 19:48] MarkGhanz opened #639 "Steps needed to build"
This is more of a question than an issue. Are there detailed instructions about how to build a chromium browser out of this project?

[2022-05-18 09:57] rakuco commented on #639
It depends a bit on what exactly you want to build:
* https://chromium.googlesource.com/chromium/src/+/refs/heads/main/docs/linux/build_instructions.md contains instructions for building a git checkout using Chromium's llvm binaries and bundled third-party dependencies.
* If you want to build a tarball and/or build a release with your own toolchain or build arguments, you're pretty much on your ow

[2022-05-25 12:16] eduardocorralmunoz opened #640 "How to add chromium or firefox to yocto dunfell"
Hello. I need to add a web browser (chromium or firefox) to my dunfell project. I have tried repeatedly without result, I have searched for solutions on googe but also without result. There are always a lot of chained errors due to the meta-clang layer:

ERROR: ParseError at /home/eduardo/var-fslc-yocto/sources/meta-clang/conf/nonclangable.conf:2: unparsed line: 'TOOLCHAIN:pn-babeltrace2 = "gcc"'

[2022-05-25 16:41] kraj commented on #640
you need latest `dunfell-clang12` branch of meta-clang

[2022-05-30 22:21] jstkdng opened #641 "VAAPI broken under sway/wayland with AMD GPUs"
Hello, first of all, thanks for the patches. I've been using them with an i5 11400 with intel-media-driver under sway/wayland and vaapi has worked without a problem. I have now a 6700XT and installed libva-mesa-driver but sadly vaapi is not working under chromium with libva-mesa-driver.

These are the log messages I'm getting
[code]

VAAPI info
[code]

The GPU is fairly recent so it vaapi supports

[2022-06-06 11:51] eduardocorralmunoz commented on #640
I tried dunfell-clang12, but still have Errors.
ERROR: ParseError at /home/eduardo/var-fslc-yocto/sources/meta-browser/meta-chromium/recipes-browser/chromium/chromium-ozone-wayland_101.0.4951.54.bb:33: unparsed line: 'CHROMIUM_EXTRA_ARGS:append = " --ozone-platform=wayland"'

[2022-06-06 15:52] santxo opened #642 "Failing to run Chromium 101.0.4951.54 on raspberrypi4-64"
I am trying to build chromium into a core-image-weston image running on a Raspberry Pi 4b. The build process runs successfully but when I try to start with chromium --no-sandbox I get several error messages. Here’s a detail of the build configuration:

Build Configuration:
BB_VERSION           = "1.46.0"
BUILD_SYS            = "x86_64-linux"
NATIVELSBSTRING      = "universal"
TARGET_SYS

[2022-06-14 06:26] TejasAbhang4042 opened #643 "Out of memory: Kill process 1750 (chromium-bin) score 595 or sacrifice child"
Hello,

I am using chromium-ozone-wayland_75.0.3770.142 on my NXP's i.MX6DL processor.
My Yocto build is Warrior.
Till now everything was running fine. But on last Friday I left the device ON with our company's website running on it.
On Monday morning the Chromium performance was noticed sluggish. In the afternoon on same day, the performance was found as normal as usual. So I checked the log and

[2022-06-18 07:50] xtrinch commented on #415
Same error here.

[2022-06-24 11:19] TejasAbhang4042 commented on #640
Hello,
Did you succeed in resolving the above error and running the chromium browser?
I am facing same issue.

[2022-06-24 11:28] rakuco commented on #640
These look like errors that happen when you're using a Bitbake version that's too old and does not support the new override syntax. See https://github.com/OSSystems/meta-browser/issues/543#issuecomment-912605725

[2022-06-24 11:42] TejasAbhang4042 commented on #640
Instead of applying the patch for bitbake, can I simply replace ":" with "_" in the chromium's .bb file?
Because all other layers that I am using has "_" in their .bb files.

[2022-06-24 12:25] rakuco commented on #640
You can try, but your mileage may vary. To be clear, If you update Bitbake, the old syntax won't stop working on dunfell AFAICS.

[2022-06-27 14:44] MastaG opened #644 "EGL Driver message (Error) eglCreateContext: dri2_create_context"
I'm trying to run chromium-ozone-wayland on my Odroid device which uses the mesa panfrost driver.
I'm running it with:
```--use-gl=egl --ozone-platform=wayland --disable-gpu-sandbox --test-type --ignore-gpu-blocklist --ignore-gpu-blacklist --enable-gpu-rasterization --enable-accelerated-video-decode --enable-zero-copy --enable-features=VaapiVideoDecoder,VaapiVideoEncoder,RawDraw,CanvasOopRasteriza

[2022-06-27 14:58] MastaG commented on #644
Here's some verbose logging with EGL_LOG_LEVEL set to debug:
[code]

[2022-06-28 13:44] TejasAbhang4042 commented on #640
Thanks for the response @rakuco .

I tried replacing ":" with " _ ", but had no success compiling it.

So I applied patches from :
https://git.openembedded.org/bitbake/commit/?h=1.46&id=c5418eae56cc50dbae7951c055434a0c456c53a4
AND
https://git.openembedded.org/bitbake/commit/?h=1.46&id=a6d5fb7554e3cf071e453db56a1e7469ac44277c

It seems to be working, but I am facing some issues compiling the meta-c

[2022-07-01 05:12] TejasAbhang4042 commented on #640
I've cloned the master branch of meta-browser and I am using it with Dunfell.
I got following errors while compiling:

ld.lld: error: found local symbol 'NSS_3.9.3' in global part of symbol table in file /home/wp4k/var-fslc-yocto-dunfell/build_chromium_xwayland/tmp/work/aarch64-mx8mn-fslc-linux/chromium-ozone-wayland/101.0.4951.54-r0/recipe-sysroot-native/usr/lib/libsmime3.so
ld.lld: error: found

[2022-07-01 05:57] TejasAbhang4042 commented on #640
As per issue #352
I have also tried commenting following line in **"dynamic-layers/browser-layer/recipes-browser/chromium-x11_%.bbappend"**

**GN_ARGS += "use_lld=true use_gold=false"**

Still got same results.

[2022-07-14 19:38] bmx666 commented on #415
could you replace it on macro which check dependency and people doesn't need to reinvent wheel over and over?

`"${@bb.utils.contains('DEPENDS', 'virtual/libgbm', 'use_wayland_gbm=true', 'use_wayland_gbm=false', d)}"`

[2022-07-19 16:47] apbr opened #645 "chromium-ozone-wayland does not detect touchscreen pointer device"
I use chromium-ozone-wayland version: 96.0.4664.110
I start chromium-ozone-wayland with
`/usr/bin/chromium --kiosk --noerrdialogs --no-first-run --enable-wayland-ime --autoplay-policy=no-user-gesture-required http://localhost:80`

To check which pointer type is recognized by chrome following JavaScript code can be used:
[code]

As I understand it, websites adapt their style according to the detect

[2022-07-20 00:50] rwmacleod opened #646 "update to chromium-103.0.5060.129 -- error: unknown argument: '-no-opaque-pointers'"
I've gotten the standard and musl patches to apply for chromium-103.0.5060.129.
In compiling for glibc, qemux86-64, I'm seeing the error the error below.
I'll see if I can figure out how to deal with it in the morning but I wanted to
let people know that this work is underway and to give someone who may
know more about the state of the clang toolchain to reply. Thanks.

x86_64-poky-linux-clang -ta

[2022-07-20 01:36] kraj commented on #646
yeah this option is only in clang15+ and its turned on by default. So its disabling it in chromium. For clang14 this option does not exist and hence disabled so we can delete this option safely for now. Try something like

[code]

[2022-07-20 21:28] ambrice opened #647 "chromium-ozone-wayland 101 SVG issue"
Upgraded from chromium 92 -> 101 on i.MX8QM using wayland, and most SVG files are not displaying (with no error messages in stderr or console).  Did anything change recently in SVG handling?  The same version of x86 chromium run on my laptop (with wayland) displays the SVGs correctly.

[2022-07-21 01:20] rwmacleod commented on #646
@kraj  Thanks, that seems to be what the doctor ordered. My build is 3/4 done so I'll test the musl build as well, then glibc runtime qemux86-64, qemuarm64, clean-up the patches, update the commit log to document all the license changes that I rushed through and send a patch in the coming days.

[2022-07-21 20:37] ambrice commented on #647
If I run chromium without --in-process-gpu, the SVG images display correctly (but no HW accel).  Does SVG rendering use the GPU?  Is there a flag to force software rendering of SVG images?

[2022-07-21 22:07] ambrice commented on #647
More narrowly, if I run --in-process-gpu --disable-gpu-rasterization then SVGs display ok.  So something in GPU rasterization in chromium 101 on i.MX8QM vivante GPU is causing problems for SVG image rendering.

[2022-07-21 23:24] rwmacleod commented on #646
chromium-x11 builds and works fine for glibc on qemux86-64/arm64 on poky+<layers> on master branch.
I'm building chromium-ozone-wayland now.
TCLIBC=musl did work but the mallinfo patch doesn't apply now so I'll fix that next.

@kraj Given that @msisov is on vacation until early August, would the following additional tests make sense:

    Test-built:

    * chromium-ozone-wayland:
     - kirkstone

[2022-07-21 23:33] kraj commented on #646
@rwmacleod I think its a major version update so I would not like to regress on the qualification criteria if possible. I can help with master builds for qemux86-64 and qemuarm64, since I have those setups handy.

[2022-07-21 23:49] rwmacleod commented on #646
@kraj  Agreed. Let me get the musl patch fixed, and write the commit log. PR tomorrow hopefully.

[2022-07-22 06:03] #510 closed

[2022-07-23 01:10] rwmacleod commented on #646
or on the weekend! :-(

[2022-07-24 00:47] rwmacleod commented on #646
Resolved in: https://github.com/OSSystems/meta-browser/pull/648

[2022-07-24 00:47] #646 closed

[2022-08-03 18:19] ambrice opened #649 "chromium 103 does not build for imx8qm"
Building chromium-ozone-wayland on i.MX8QM for wayland only, no x11 libs.  Have the following patch to disable dri:

[code]

Similar patch worked for 101, but in 103 I'm getting a compilation error:
[code]

[2022-08-05 09:22] rakuco commented on #645
Chromium 96 is pretty old by Chromium's standards, so I'd start by trying a newer release. Additionally: is it possible to test an official Google Chrome release for your platform and see if that one works as expected?

[2022-08-07 23:39] rwmacleod commented on #559
Using only the master branch continues to work well so there's no need for the other branches.
Gatesgarth is EOL so @rakuco can you close this issue?

[2022-08-08 08:34] rakuco commented on #559
"gatesgarth" is still in `LAYERSERIES_COMPAT`, so I think the issue is still valid. @shr-project's point was that having all the intermediate releases between dunfell and kirkstone there helps migrating from one to the other; maybe we could formalize the decision and document it in `layer.conf` (and consequently have all those branches there until dunfell goes EOL in 2024 or its recipes can no lon

[2022-08-08 11:35] otavio commented on #559
I am ok in dropping it. If desired a branch can be made and we can add a change in README mentioning it is dead.

[2022-08-08 11:50] msisov commented on #559
I don't have a strong opinion about that.

[2022-08-08 11:53] shr-project commented on #559
What's the benefit of dropping it (other than few characters in LAYERSERIES_COMPAT variable)?

Creating identical branch if desired is still more work than keeping LAYERSERIES_COMPAT as it is and maybe just documenting in README that the gatesgarth, hardknott, honister releases are EOL and that meta-browser should be compatible with them, but nobody is testing new changes with these EOL releases a

[2022-08-08 16:17] kraj commented on #559
Lets just support whats not EOL at the moment, which is `master`, `kirkstone` and `dunfell`, and remove everything else. Or we will keep getting bug reports for the EOLed branches too. We can still accept fixes if someone is proposing them.

[2022-08-08 16:35] kraj commented on #559
if there are users sending support requests for these branches is one problem I can see, other than that there is no problem
secondly LAYERSERIES_COMPAT will be nudging users towards supported releases.

[2022-08-09 10:42] apbr commented on #645
I can reproduce it with 103.0.5060.129-r0.
Unfortunately I can't easily test an official Google Chrome release.

[2022-08-11 16:37] dimonic opened #650 "Readme says I need meta-rust, but there's no rust layer for kirkstone"
I can't configure bblayers with meta-rust on kirkstone - either doc or layer is out od date.

[2022-08-11 16:39] dimonic opened #651 "No kirkstone branch for firefox"
What it says on the tin.

[2022-08-11 16:47] kraj commented on #651
master branch is what we make work on multiple yocto releases, thats why you dont see it.

[2022-08-11 16:47] kraj commented on #650
it should be updated for kirkstone but is still needed for dunfell.

[2022-08-11 17:47] rwmacleod commented on #650
The meta-rust content merged into oe-core before kirkstone. @dimonic Will you send a doc update PR?

[2022-08-18 11:58] robin-bob-duprat commented on #640
Hello [TejasAbhang4042](https://github.com/TejasAbhang4042),

I was facing the same issue as [yours](https://github.com/OSSystems/meta-browser/issues/640#issuecomment-1171943553).

And with the proposal of the per issue [#352](https://github.com/OSSystems/meta-browser/issues/352), I tried this :

GN_ARGS += "use_lld=**false** use_gold=**true**"

Getting then:
[code]

So I disable lto doing :

GN_A

[2022-08-23 14:05] MastaG opened #652 "arm 32bit: configure failure"
When building with ```use_v4l2_codec``` for arm 32bit the configure step seems to fail with:
[code]

I think it's because ```BUILD.gn``` has the following:
[code]
Then ```media/gpu/v4l2/BUILD.gn``` has this section:
[code]
I went through various BUILD.gn files and it seems to only include this library when ```enable_libgav1_decoder``` or ```use_libgav1_parser``` is set.

Now when looking at ```thi

[2022-08-23 15:48] rwmacleod opened #653 "Update to chromium 104.0.5112.101"
This version of chromium has been out for a while so I'll start working on it unless someone is already underway.

[2022-08-23 15:52] rakuco commented on #653
cc @msisov

[2022-08-24 00:18] rwmacleod commented on #653
Patches updated, builds on master for qemux86-64, qemuarm64, qemuarm.
Runs for 64 bit machines with minimal testing (1.1.1.1 , html5test.com, /.  ;-)  )
Building kirkstone overnight, then dunfell tomorrow. Oh I also confirmed that musl patches and it's building now for kirkstone.

BTW, I used quilt to refresh the patches, so there's some noise in the diffs aside from that required to shave the fuz

[2022-08-24 00:34] kraj commented on #653
@rwmacleod thanks and I see you took care of musl pieces too thats cool. Generally using devtool works best for patch refreshes.

[2022-08-24 00:43] rwmacleod commented on #653
Pushed a draft: https://github.com/OSSystems/meta-browser/pull/654
@kraj  I'll give devtool a go tomorrow.

[2022-08-24 05:43] msisov commented on #653
thanks for handling that!

[2022-08-24 22:06] rwmacleod commented on #653
I have the patches in good shape now. I'm doing a few more builds, and I'll check runtime again.
Then I'll push what I think is a patch that's ready for merge.

Next time I do a chromium update, I plan to be less verbose and likely just send a single PR. _Some_ _people_ were **excited** about this update so I wanted feedback along the way.

[2022-08-25 01:04] rwmacleod commented on #653
Update pushed, ready for more testing and/or merge.

[2022-08-25 10:59] maskimthedog commented on #649
I am seeing the same issue building chromium-ozone-wayland for wayland only for i.MX8MM after applying the same patch.

| aarch64-poky-linux-ld.lld: error: undefined symbol: gl::NativeViewGLSurfaceEGL::NativeViewGLSurfaceEGL(gl::GLDisplayEGL*, void*, std::__1::unique_ptr<gfx::VSyncProvider, std::__1::default_delete<gfx::VSyncProvider> >)
| >>> referenced by gl_surface_wayland.cc:35 (./../../ui/ozo

[2022-08-25 20:11] rwmacleod commented on #653
@rakuco @msisov
Any comments? It's been 19 hours! ;-) It would be good to know what to expect here: hours, days, weeks?
This update does fix several CVEs, one of which may have a serious risk:

https://chromereleases.googleblog.com/2022/08/stable-channel-update-for-desktop_16.html

Let me know if I can do anything to help move things along.
Thanks,
../Randy

[2022-08-26 08:38] N1ckx opened #655 "chromium minidump support"
With the current chromium build configuration are minidump crash reports generated?
I'm not interested in crash reporting i just want to be able to fetch them for myself.

If the support is not enabled is it possible to enable it with additional gn args?

Thanks,

[2022-08-26 11:54] rakuco opened #657 "chromium-ozone-wayland: Evaluate if 0001-ozone-add-va-api-support-to-wayland.patch needs to be readded"
#648 removed `0001-ozone-add-va-api-support-to-wayland.patch` because neither @rwmacleod nor myself knew how to rebase the patch on top of M103.

We need to figure out if the patch needs to be rebased and readded or whether its functionality has been implemented upstream differently.

[2022-08-30 09:11] WillOwnU opened #658 "IMX6 Dual not getting Hardware Accelerated also Stack Smashing - Chromium 103.0.5060.129"
Getting some EGL errors and Stack smashing errors when starting Chromium. Also gpu is not Hardware Accelerated.

Hardware:
- imx6 Dual with GC2000, GC355
Software:
- Clang: Branch dunfell-clang12 also tryed to dunfell Branch
- Chromium 103.0.5060.129
- Yocto dunfell-17.0-28
- Linux Kernel:  5.10.104
- Weston 8.0.0

What did i already tried?
- Clang Branches
- Chromium 95.0.4638.69(just a random ch

[2022-08-31 00:36] rwmacleod commented on #653
The update is merged.

[2022-08-31 00:36] #653 closed

[2022-08-31 00:46] rwmacleod opened #659 "third_party/swiftshader/include/vulkan/vulkan.h:41:10: fatal error: 'wayland-client.h' file not found"
In a non-poky distro using the kirkstone branch, without wayland or vulkan included in DISTRO_FEATURES,
I'm seeing:

I'm adding wayland to DISTRO_FEATURES to confirm that that is the significant difference from all of the successful builds I did with poky which has:
   POKY_DEFAULT_DISTRO_FEATURES = "largefile opengl ptest multiarch wayland vulkan"
 in all of dunfell, kirkstone, master.

[2022-08-31 01:26] rwmacleod commented on #659
Adding wayland to DISTRO_FEATRES seems to have resolved the build error (at ~85% now, failed earlier without) but I'd like to see why it's required now and hasn't been required in earlier releases. We could add a REQUIRED_DISTRO_FEATURE to the chromium-x11 recipe but I'm reluctant to do that for/to the old branches.

[2022-08-31 18:06] rwmacleod commented on #651
@dimonic so as Khem stated, you can use meta-browser/master with poky/meta-oe/...   checkout out to dunfell, kirkstone or master. If that works for you, please close this issue.

[2022-08-31 18:07] rwmacleod opened #660 "Update to chromium 105.0.5195.52"
https://chromereleases.googleblog.com/2022/08/stable-channel-update-for-desktop_16.html

Is anyone able to do this update ? I'm busy with other work and then on vacation until Oct 1st.

[2022-08-31 18:13] rakuco commented on #660
maybe @msisov?

[2022-09-01 07:41] msisov commented on #660
I will

[2022-09-01 11:06] gustavqmatic commented on #657
We have tested a few different combinations of yocto release and Chromium releases and we don't see any trace calls to VAAPI with 103 or 104 but we get them with 101 (version before the patch was removed). The "Video Acceleration Information" list on chromium://gpu is also empty. So something seems to be turned off without the patch. Can it be that this part of the patch is still needed?
[code]

B

[2022-09-01 12:03] msisov commented on #657
@gustavqmatic, maybe yes. I'll work on that in the following days along with update to 105.0.5195.52

[2022-09-02 13:30] gustavqmatic opened #661 "Chromium VAAPI in wayland and intel driver not working"
We build core-image-weston (Kirkstone with Wayland and Chromium 101). Newer releases miss the wayland patch and does not seem to make any calls to vaapi at all.

We have included libva from meta-intel and have enabled use-vaapi and proprietary-codecs in Chromium. The yocto build contains this config:
[code]

We start Chromium with these flags
[code]

Vainfo is
[code]

From chrome://gpu

[code]

In

[2022-09-02 15:17] gustavqmatic commented on #661
Some additional info, I have now been able to turn on some more debugging from intel-media-driver and I can see that it fails in SetDecodeParams with message "Surface fomrat of decoded surface is inconsistent with Codec bitstream".
It should be Format_NV12 but it got Format_X8B8G8R8 from Chromium. What is controlling the surface pixel format in Chromium and can we configure it to be NV12?

[2022-09-08 07:49] WillOwnU commented on #658
Not really found the Problem but build Chromium 91.0.4472.77-r0 Version worked. Hardware is now accelerated and WebGL works now. Probably some driver are not longer Supported by newer Chromium versions.

[2022-09-08 07:49] #658 closed

[2022-09-09 10:49] msisov commented on #660
After solving some problems with Wayland, langdale and kirkstone branches passed. However, dunfell fails with the following error -

[code]

It seems like a newer version of nodejs is required. Can somebody please remind me how to request a specific version of a package for a recipe?

[2022-09-09 14:50] rwmacleod commented on #660
Maybe : https://docs.yoctoproject.org/dev/ref-manual/variables.html?highlight=preferred_version#term-PREFERRED_VERSION
( that's usually done in as distro or layer preference rather than in a recipe )

Btw, are you or can you switch to 105.0.5195.102  to deal with yet another chromium CVE that is known to be being exploited in the wild?  https://chromereleases.googleblog.com/2022/09/stable-channel-

[2022-09-09 17:14] msisov commented on #660
that may work. Thanks.

yes, I'm using that version.

On 2022-09-09 17:50, Randy MacLeod wrote:

--
Best Regards,
Maksim Sisov
* Usual work time - 08:00-16:00 (EEST).

Links:
------
[1]
https://github.com/OSSystems/meta-browser/issues/660#issuecomment-1242074645
[2]
https://github.com/notifications/unsubscribe-auth/ABIPUGAQMUHLLG7MDG2IJ4TV5NFDTANCNFSM6AAAAAAQBTTUJA

[2022-09-12 06:09] msisov commented on #660
fs/promises is not part of node v12 that dunfell uses according to https://nodejs.org/api/fs.html#promises-api.

https://stackoverflow.com/questions/70041947/import-filehandle-across-node-js-versions/70042193#70042193 suggests const fileHandle = require("fs").promises;

[2022-09-12 09:35] bmx666 opened #663 "chromium GPU acceleration doesn't work on imx6"
I created issue on [meta-freescale](https://github.com/Freescale/meta-freescale) - https://github.com/Freescale/meta-freescale/issues/1203 before, but our team tested builds and found issue in [new version of Chromium](https://github.com/OSSystems/meta-browser/commit/b8e658b5a4da60a0d297fb7c2cdb7c7c251ec8bf)

[2022-09-12 17:57] rwmacleod commented on #660
@msisov  I don't see an 105 update PR. Did you intend to close this issue?

[2022-09-14 11:11] #660 closed

[2022-09-15 09:57] rakuco commented on #659
Do you mean this is a chromium-x11 build that's failing because the Wayland headers aren't present during the build?

[2022-09-15 11:15] msisov commented on #657
There were some refactorings and it was decided to enable vaapi for ozone/wayland/x11 in the upstream. A patch is on its way https://chromium-review.googlesource.com/c/chromium/src/+/3646633?usp=dashboard

[2022-09-15 11:15] msisov commented on #661
Can you try https://chromium-review.googlesource.com/c/chromium/src/+/3646633?usp=dashboard ?

[2022-09-16 12:21] bmx666 commented on #663
same issue with new version - [105.0.5195.102](https://github.com/OSSystems/meta-browser/commit/0f11e5ed0da3a622bbd7952400e7470815ded96a)

[2022-09-16 12:25] bmx666 commented on #658
Hi @WillOwnU this version works fine on kirkstone branch, but newer version breaks GPU acceleration - https://github.com/OSSystems/meta-browser/issues/663

[2022-09-18 02:34] bmx666 commented on #663
`chrome://gpu` doesn't display`Skia Renderer: Enabled` anymore

[2022-09-18 22:27] bmx666 commented on #663
Since **104.0.5112.101** build configuration file `out/Release/args.gn` include by default `angle_use_wayland = false`. After change it back to `angle_use_wayland = true` build with clang-15 returns an error related to Chromium subrepo https://github.com/abseil/abseil-cpp and not yet included patches in Chromium version **105.0.5195.102** - https://github.com/abseil/abseil-cpp/commit/0c92330442d6b

[2022-09-19 10:06] rakuco commented on #659
cc @msisov do you know what the situation is upstream? Do we just need to depend on the headers for the build?

[2022-09-19 10:22] msisov commented on #659
Something defines this https://source.chromium.org/chromium/chromium/src/+/main:third_party/swiftshader/include/vulkan/vulkan.h;l=40?q=VK_USE_PLATFORM_WAYLAND_KHR .

[2022-09-19 21:13] MastaG commented on #663
Thanks for the fixes!

[2022-09-20 07:45] bmx666 commented on #663
I successfully built Chromium 108.0.5309.0, only few fixes are required since 105.0.5195.102:
- remove patch `0012-Build-X11-parts-only-for-ozone_platform_x11.patch` because it already included
- update md5 hash of licenses
- patch `third_party/wayland/src` from `upstream/1.19.0` to `upstream/1.20.0` otherwise a lot of errors during compilation. Patch can be generated from [wayland repo](https://c

[2022-09-20 16:45] gustavqmatic commented on #661
HI,
Sorry for the delay, but now I have been able to test the patch together with 105.
I get this error instead:
`[1503:1503:0920/084132.884263:VERBOSE2:vaapi_video_decode_accelerator.cc(199)] Initialize(): Initializing VAVDA, profile: h264 high
libva info: Open new log file libva.084132.thd-0x000005df for the thread 0x000005df
libva info: LIBVA_TRACE is on, save log into libva.084132.thd-0x000005

[2022-09-21 06:26] msisov commented on #661
I left two comments in the patch [here](https://chromium-review.googlesource.com/c/chromium/src/+/3646633/comment/49487ca0_e1c2e864/)

Can you please change the GetGLTextureTarget to GL_TEXTURE_2D for Linux and also the buffer format to RGBX_8888.?

[2022-09-21 12:10] bmx666 commented on #663
Tested Chromium 104.0.5112.0 - GPU acceleration doesn't work.
A lot of changes between 103 and 104...

[2022-09-21 19:28] gustavqmatic commented on #661
Tested with your changes. I ended up setting it with #if 1 and removing the if statement otherwise I got this error:
| ../../media/gpu/vaapi/vaapi_picture_factory.cc:121:45: error: use of undeclared identifier 'ui'
|   if (ui::OzonePlatform::IsInitialized() && ui::OzonePlatform::GetInstance()

With this I got this new error:
`[3931:4168:0921/112155.786720:VERBOSE2:vaapi_video_decode_accelerator.cc

[2022-09-22 05:59] msisov commented on #661
This is probably something worth reporting to the Chromium bug tracker and including people that are responsible for va-api implementation in Chromium.

[2022-09-22 06:30] gustavqmatic commented on #661
Not sure how to do that. Can you do it or point me in the right direction?

[2022-09-22 06:34] msisov commented on #661
https://bugs.chromium.org/p/chromium/issues/entry

[2022-09-22 08:23] ensc commented on #649
The immediate problem is that from

[code]

the first branch is used for some sources while the second one for other.  This changes C++ function signatures.

[2022-09-22 14:31] vijaynkamble86 opened #665 "Chromium Cross Compilation Build Failures - meta-clang and gn-native"
Hello,

I am trying to compile meta-chromium (cross compilation for Qualcomm SoC) but getting build errors for meta-clang and gn-native as mentioned below -

gn-native error -
clang++ -target x86_64-linux  -MMD -MF src/gn/bundle_data.o.d -I../../../tools/gn/src -I. -isystem/local/mnt/workspace/vkamble/Repos/se_qrb5165/le.r2_au111_Chromium/build-qti-distro-rb-debug/tmp-glibc/work/x86_64-linux/gn-na

[2022-09-22 14:49] vijaynkamble86 commented on #665
I am using the meta-clang for dunfell only as mentioned below -
git clone http://github.com/kraj/meta-clang -b dunfell-clang12

Am i missing any configurations..?

Please let me know.

[2022-09-23 10:17] ensc commented on #649
setting

[code]

workarounds it for me.

[2022-09-23 10:51] MastaG commented on #663
Well I did a few tests on my ODroid XU4 which is armv7 (32bits).
It uses the Mesa Panforst driver and runs on Gnome 43 wayland.
For me the problem is that I can only run it with "--in-process-gpu" otherwise it seems to segfault.

I've rebuilt chromium-ozone-wayland 105.0.5195.102 with the angle patch: https://bugs.chromium.org/p/angleproject/issues/detail?id=7582#c3 and ```angle_use_wayland = true

[2022-09-23 14:15] bmx666 commented on #663
Hi @MastaG

I'm launching chromium with flags `--use-gl=egl --ozone-platform=wayland --enable-gpu --enable-gpu-rasterization --enable-gpu-memory-buffer-video-frames --enable-accelerated-2d-canvas --enable-accelerated-vpx-decode --enable-native-gpu-memory-buffers --enable-zero-copy --gpu-no-context-lost --ignore-gpu-blacklist --in-process-gpu`

I can try to add flags `--reduce-gpu-sandbox --gpu-san

[2022-09-23 14:23] bmx666 commented on #663
`what does Angle do anyways?`

About ANGLE ->
https://chromium.googlesource.com/angle/angle/+/master/README.md
https://chromium.googlesource.com/angle/angle/+/refs/heads/main/doc/BuildingAngleForChromiumDevelopment.md

[2022-09-23 14:35] bmx666 commented on #663
I build version 103, but with DEPS from version 104

[code]

And GPU acceleration still works fine.

The next step will be to replace other components

[code]

[2022-09-23 21:55] bmx666 commented on #663
since Chromium `108.0.5315.0` DEPS wayland was updated to version `upstream/1.20.0`

[2022-09-27 21:16] bmx666 commented on #663
on i.MX6 `Chromium 103.0.5060.129` only these extra flags enables most of all HW acceleration features

`--in-process-gpu --enable-features=RawDraw,CanvasOopRasterization --enable-gpu-rasterization --num-raster-threads=4 --enable-zero-copy`

![bild](https://user-images.githubusercontent.com/2761506/192636915-9d62b21c-b880-439f-bbf8-12d52049747b.png)

[2022-09-28 02:35] joshuaimmanuel commented on #397
I checked out the commit ac716dfb074170914d1a7571a1a458be6f54ed95 which is just before the kirkstone migration and copied the `chromium` folder to my layer. Along with this, I have added dunfell-clang12 branch of meta-clang layer. This combination works with dunfell without any issue.

[2022-10-07 07:29] MastaG commented on #663
Try adding:
```--reduce-gpu-sandbox --gpu-sandbox-start-early --ignore-gpu-blocklist --ignore-gpu-blacklist ```

[2022-10-07 10:15] bmx666 commented on #663
@MastaG no luck, I've tried all the argument options since version 104 and later... Chromium doesn't have GPU rasterization on imx6, everything is slow and laggy...

[2022-10-07 23:30] bmx666 opened #667 "firefox 102.3.0esr"
Do you have plans to update firefox recipe?

[2022-10-18 08:29] Oquirella commented on #659
Any update on this?

[2022-10-18 13:17] bitglitcher opened #668 "Yocto compilation error (fatal error: 'atomic' file not found)"
Hello, I'm trying to add meta-browser to our distro. I added the meta-browser. It fails while compiling, the issue is that it seems it can't find atomic library? A whole bunch of files have this issue.

I have this line of code defined on my `layer.conf` file. Which solve an issue with `gn-native`. I got no idea of that has anything to do with this issue.
[code]
Also I added line to `CORE_IMAGE_EX

[2022-10-18 15:53] rakuco commented on #668
Note that that meta-browser revision is fairly old and you're strongly encouraged to use the latest Chromium release to avoid all sorts of security issues.

With that said, can you post the compiler invocation that failed? It is not clear if this is an issue building target code or the bits that are built for and run on the host.

[2022-10-18 15:55] 5o5uk3 commented on #649
Hello,

I had exactly the same issue _(but with chromium 105 build)_ and I have chosen the opposite approach.
From my point of view `gbm.pc` file should not add `-D__GBM__` flag as it is already set through `gbm.h` when it is included. That's why I have `patched imx-gpu-viv_6.4.3.p2.0-aarch64` recipe to remove this flag and the chromium compilation is OK.
FYI, the patch applied below:

[code]

[2022-10-18 15:57] bitglitcher commented on #668
Hello, here is the compiler invocation. There are similar errors but they al boil down to not finding the CPP libs.
`
| [63/38214] clang++ -MMD -MF yocto_native/obj/skia/skia_core_and_effects/SkGlyphRun.o.d -DUSE_UDEV -DUSE_AURA=1 -DUSE_GLIB=1 -DUSE_NSS_CERTS=1 -DUSE_OZONE=1 -DOFFICIAL_BUILD -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -DNO_UNWIND_TABLES -D_GNU_SOURCE -DNDEBUG

[2022-10-18 16:06] kraj commented on #668
whats the clang compiler version in use here ?

[2022-10-18 16:09] bitglitcher commented on #668
I'm using
[code]

[2022-10-18 16:24] bitglitcher commented on #668
Updating my revision to the latest commit yields a different error. Seems to be related to the source code and not my configuration. I wonder if I need to update the clang version maybe.
`
ERROR: chromium-ozone-wayland-105.0.5195.102-r0 do_patch: Applying patch '0001-Disable-dri-for-imx-gpu.patch' on target directory '/home/bherrera/winYocto5.15/build/tmp/work/armv8a-mx8m-poky-linux/chromium-ozone

[2022-10-18 16:35] kraj commented on #668
that should yield clang 14.0.3, I wonder where its pulling its c++ headers from, it should get them from libcxx-native install in
native-sysroot.

what is your build host OS ?
perhaps try it on a different ( newer ) host and see if it helps.

[2022-10-18 16:37] kraj commented on #668
`0001-Disable-dri-for-imx-gpu.patch` seems imx specific patch which perhaps is being added via another layer like meta-freescale so if you bump revs for meta-chromium and meta-clang you have to ensure the patches being applied to chromium from other layers work too.

[2022-10-18 16:39] bitglitcher commented on #668
I'm using an Ubuntu 20.04.3 LTS build server as host.

[2022-10-18 16:45] bitglitcher commented on #668
It's weird that it can't find the header files from the standard library, giving that it's clearly being specified in the compiler invocation. Maybe the `BBMASK` line to make qtwebengine work has something to do with it?
[code]

[2022-10-18 18:02] bitglitcher commented on #668
Do you guys know of any project I can use as a reference point?

[2022-10-18 18:43] rwmacleod opened #669 "chromium: Update to 106.0.5249.119"
https://chromereleases.googleblog.com/2022/10/stable-channel-update-for-desktop_11.html

I won't get to this for a few weeks so if anyone else is interested, please let us all know.

[2022-10-18 18:49] rakuco commented on #668
Perhaps start with something more basic, like adding Chromium to core-image-sato and building for e.g. x86-64? We've got many bug reports with iMX in them, so starting from something as simple as possible would help rule out something wrong in meta-clang in your setup, for example.

[2022-10-18 19:03] rakuco commented on #669
@msisov any chance of you being able to do it before Randy?

[2022-10-18 21:07] bitglitcher commented on #668
Basically, who knows why it was failing to compile. But I added Chromium through `local.conf`
[code]
This worked well. Before I was adding `chromium-ozone-wayland ` to `CORE_IMAGE_EXTRA_INSTALL` inside of my `image.bb` file. Somehow that makes it not compile. Weird honestly. But it works now lol.

[2022-10-18 21:07] #668 closed

[2022-10-19 05:36] msisov commented on #669
Just wanted to open this issue and noticed Randy has already opened one. I'll take this.

[2022-10-25 08:45] nandra opened #671 "chromium x11 105.0.5195.102 cannot be started on stm32"
Hi,

I'm building chromium-x11 and when run on target platform I'm getting:
root@stm32mp1:~# chromium
/usr/bin/chromium: error while loading shared libraries: libgbm.so: cannot open shared object file: No such file or directory

also to be able to build I need to add to bbappend file:
[code]

Any ideas please? Thanks.

[2022-10-25 09:54] rakuco commented on #671
@msivov do you know if the dependencies have changed recently? Do we need to pull in something that installs libgbm.so?

[2022-10-26 05:36] nandra commented on #671
FYI: tried chromium-ozone-wayland with weston manager and chromium can be started  fine.

[2022-10-27 12:29] Villemoes commented on #528
This seems to still be a problem with 105.0.5195.102. To get chromium-ozone-wayland to build, based on the patch posted upthread, I'm applying
[code]
(and the same thing previously, just with a slightly different context since the !is_castos is relatively new)

[2022-10-28 07:45] Villemoes commented on #649
Building for imx8mp, having the same issue. Any consensus on whether it needs fixing in chromium or imx-gpu-viv?

[2022-11-01 07:26] #669 closed

[2022-11-02 09:11] nandra commented on #671
@rakuco seems to be related to stm32 layers only (build and run fine on sunxi though). Any ideas what can be checked and how libgbm is added or so? Thanks.

[2022-11-02 09:32] rakuco commented on #671
AFAICS libgbm.so is supposed to be provided by the platform's GLES implementation. On desktop Linux you'd get it from Mesa, for example.

@msisov does the above make sense? You know more about this part of the code base than I do.

[2022-11-02 09:59] msisov commented on #671
yes, on desktop it's provided by mesa for example

[2022-11-02 10:00] nandra commented on #671
@msisov so I should check if mesa provide such files? Files exists in final rootfs but looks like chromium is expecting something else. Any ideas what else can I check psl? Thanks.

[2022-11-02 10:27] msisov commented on #671
I've no idea what driver stm32 uses, but you can try to add virtual/libgbm to DEPENDS. Maybe, that helps (shrug).

[2022-11-03 16:18] 5o5uk3 commented on #649
@Villemoes What I can assert is that chromium does not seem to use GPU acceleration with my method. I have to check if it behaves better with open source drivers.

[2022-11-06 14:30] rwmacleod opened #674 "Update to 108.0.5359.124"
FYI, I'll be working on this update starting Nov 7th, 2022. I do the usual testing and try to also ensure that the musl patches work.

[2022-11-09 21:05] rwmacleod commented on #674
I have a 107 draft update https://github.com/rwmacleod/meta-browser
It works on qemux86-64 but not for qemuarm64 for both master and kirkstone. I confirmed that 106 works on kirkstone for qemuarm64.

I'll check if upstream knows about this and continue debugging.

[2022-11-09 22:14] rwmacleod commented on #674
I just noticed 107.0.5304.110 : https://chromereleases.googleblog.com/2022/11/stable-channel-update-for-desktop.html so I'll try that next.

[2022-11-10 08:46] rakuco commented on #674
Are you having a build issue or is something crashing at runtime?

[2022-11-10 12:53] rwmacleod commented on #674
It builds fine. The program loads, tries to talk to dbus, fails that as usual and then hangs. I have some strace data that I'll summarize later today and I've tried running chromium-bin under gdb but the result was inconclusive at least to me. I'll be doing that again today. I also just gather some logging data that I'll post in a minute from my desktop. Here's the default output:

![IMG_20221110_

[2022-11-10 12:56] rwmacleod commented on #674
and the log from /home/foo/.config/chromium/chrome_debug.log doesn't seem to be very helpful:

[code]

[2022-11-11 17:21] rwmacleod commented on #674
FYI: qemuarm and the raspberrypi4 (32bit) and  from meta-raspberrypi with 107.0.5304.110 on kirkstone are fine BUT
raspberrypi4-64  hangs just as qa64 does.

Should we do the update despite arm64 being broken?
Any debugging tips? Today (Nov 11) is a holiday so I may not work on this again until Monday.

[2022-11-11 17:33] rakuco commented on #674
@msisov does this ring a bell by any chance?

[2022-11-11 19:38] Krissvector187 opened #675 "4403935269306405"

[2022-11-11 20:11] #675 closed

[2022-11-12 08:06] Krissvector187 opened #676 "https://github.com/newrelic/newrelic-ruby-agent/pull/1624#issue-1446249591"
https://github.com/trustwallet/assets/blob/master/.github/assets.config.yaml

[2022-11-13 04:59] Krissvector187 opened #677 "(OAD P 9771.1A))"
https://github.com/dart-lang/site-www/blob/main/src/tools/pub/pubspec.md

[2022-11-14 09:13] #677 closed

[2022-11-14 09:15] #676 closed

[2022-11-14 10:46] msisov commented on #674
So you say it hangs, doesn't it? Can you paste bt of all threads when it hanged?

[2022-11-14 11:15] rwmacleod commented on #674
@msisov ![IMG_20221110_185234.jpg](https://user-images.githubusercontent.com/342503/201646522-0780b8c5-fe56-47d3-865c-f4adfb86579d.jpg)

[2022-11-14 12:51] msisov commented on #674
@rwmacleod unfortunately, that's worthless without symbols :(

[2022-11-14 14:27] rwmacleod commented on #674
@msisov kids these days need symbols! ?  ;-)

Yeah, it's what I had on hand. Debugging in between meetings today so I'll post what I have later.

[2022-11-16 12:49] MastaG opened #679 "chromium-ozone-wayland: No file chooser dialogs"
Perhaps this is not the best place to ask this.
But I noticed that the chromium-ozone-wayland recipe sets: ```use_gtk=false```
I was wondering what's the reason for this.
Because without it, chromium will segfault when right-clicking anywhere on the page and selecting "Save as...".
Also when I try to attach a file in GMail, nothing happens when I click the attachment button.

So I wonder if chromi

[2022-11-16 15:45] rwmacleod commented on #674
![IMG_20221116_114251~2.jpg](https://user-images.githubusercontent.com/342503/202226793-bb1d08cd-c639-4fb8-8619-a833afcef908.jpg)

[2022-11-16 15:49] rakuco commented on #674
Hmm, there's still something wrong with the stack traces. If you launch Chromium with `--v=10 --single-process --no-sandbox` do you get anything else in the console?

[2022-11-17 10:22] msisov commented on #679
That's definitely  a bug in our impl. There must be a stub instance for builds without gtk. Can you please file a bug to crbug  instead?

[2022-11-17 10:23] msisov commented on #674
it's maybe the very top frame that doesn't a have a symbol (an external lib?). Can you please check the stack trace of that particular thread for the "chromium-bin"? Thanks.

[2022-11-17 10:26] MastaG opened #680 "chromium-ozone-wayland: without angle "--in-process-gpu" crashes"
Hi there,

As the title says, chromium-ozone-wayland will crash when trying to start it with --in-process-gpu (I cannot test it without this flag as my platform doesn't provide full blown kms/drm/dri/gbm/mesa drivers).

With: https://github.com/OSSystems/meta-browser/commit/0f11e5ed0da3a622bbd7952400e7470815ded96a
[code]
I'm no expert on this, but the folks over at arch use this patch:
[code]
Usin

[2022-11-17 10:27] rakuco commented on #679
Aren't the file pickers always native though? I thought the Linux implementation first tried to use [Portals](https://flatpak.github.io/xdg-desktop-portal) before falling back to GTK, KDE and other implementations, but I haven't checked this in a while.

[2022-11-17 10:34] msisov commented on #679
We only have gtk implementation on Linux atm. And Wayland uses that. The reason why use_gtk is false in yocto meta-browser recipe is that we don't want to force users to depend on gtk stuff. "Save as" mustn't crash in that case.

[2022-11-17 10:39] MastaG commented on #679
Ah I see, I've opened a bug anyways: https://bugs.chromium.org/p/chromium/issues/detail?id=1385690
My platform is quite memory restrained, so I'd like to build without gtk support.
Also I think the native UI looks great.

[2022-11-18 14:15] rakuco commented on #659
@rwmacleod @Oquirella can you check if #678 that I just merged fixes the issue for you?

[2022-11-18 14:31] rwmacleod commented on #659
I will check but not until next week at the earliest.

[2022-11-21 09:15] #601 closed

[2022-11-23 01:40] rwmacleod commented on #674
No news; I'm busy with other work. :-(  It might be a while so should I clean-up what I have now so that folks who aren't targeting arm64 will at least have a more secure version?

[2022-11-24 15:55] shutdown-h-now opened #681 "Spellchecking activated by default"
chromium - warrior

From time to time (?) the spell check underlines the text in the input fields displayed by chromium on an embedded device.

I've found that third_party/hunspell provides the spellchecking capabilities.

What would be the proper build parameter to disable it ?

Thank you.

[2022-11-28 01:59] rwmacleod commented on #674
Updating to 107.0.5304.121 https://chromereleases.googleblog.com/2022/11/stable-channel-update-for-desktop_24.html